:root {
--Verydarkblue: hsl(233, 47%, 7%);
--Darkdesaturatedblue: hsl(244, 38%, 16%); /* (card background)*/
--Softviolet: hsl(277, 64%, 61%);
--White : hsl(0, 0%, 100%);  /*(main heading, stats)*/
--Slightlytransparentwhite : hsla(0, 0%, 100%, 0.75); /*(main paragraph)*/
--Slightlytransparentwhite : hsla(0, 0%, 100%, 0.6); /* (stat headings) */

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body { 
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color:var(--Verydarkblue);
    font-size: 15px;
    font-family: 'inter', 'sans-serif';
}


p {
    line-height: 1.6;
}

main {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    border-radius: 8px;
    max-width:1110px ;
    width:75%;
    background-color: var(--Darkdesaturatedblue);
}

.card {
    width: 50%;
    border-radius: 8px;
    display: inline-block;
}

.cardtwo {
    border-radius: 0 8px 8px 0;
    position: relative;
}

.hero {
    width:50%;
    background-color: var(--Softviolet);
    border-radius: 0 8px 8px 0;
}

.hero .mobile_image {
    display: none;
}

.hero .desk_img {
    max-width: 100%;
    height:100%;
    mix-blend-mode: multiply;
    border-radius: 0 8px 8px 0;
    background-repeat: no-repeat;
    display: block;
    background-attachment: fixed;
}


.hero,
.hero-overlay {
  width: 100%;
  height: 100%;
 position: absolute;
 top: 0;
 left: 0;
}

.hero-overlay {
    border-radius: 0 8px 8px 0;
    background-color: var(--Softviolet);
    z-index: 20;
    opacity: 0.3;
}

.first_heading {
    color: var(--White);
    font-size: 34.5px;
    font-weight: 700;
    line-height: 38px;
    padding: 0 10px;
    margin: 60px 60px 0px 60px;
}

.first_heading span {
    color: var(--Softviolet);
}

.txt {  padding: 0 10px;
        font-weight: 400;
        color: var(--White);
        line-height: 25px;
        opacity: 70%;
        margin: 29px 70px 0px 60px;
}

.nums {
    color: var(--White);
    display: flex;
    margin-top: 70px;
    margin-bottom: 62.5px;
    padding: 10px;
}

.item {
    margin-left: 60px;
}

.item h1 {
    font-size: 22px;
}


.category {
    margin-top: 8px;
    font-family:'Lexend Deca','sans-serif';
    opacity: 70%;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px;
}

@media only screen and (max-width:520px) {

main {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    height: auto;
}

.card {
    width: 100%;
}

.cardtwo {
    border-radius: 8px 8px 0 0;
}


.hero {
    background-color: var(--Softviolet);
    position: relative;
    border-radius: 8px 8px 0 0;
}

.hero-overlay {
    border-radius: 8px 8px 0 0;
}

.hero .mobile_image {
    max-width: 100%;
    mix-blend-mode: multiply;
   border-radius: 8px 8px 0 0;
    display: block;
}

.hero .desk_img {
   display: none;
}

.first_heading { margin:35px 15px 0 15px ;
    text-align: center;
    font-size: 23.5px;
    line-height: 1.3;
}

.txt {
    font-size:12px;
    margin:18px 27px;
    text-align: center;
    line-height: 1.6;
}

.nums {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top:28px;
}

.item {
    margin: auto ;
}

.item h1 {
 margin-top: 5px;
 font-size: 20px;
 line-height: 1.1;
 text-align: center;
}

.category {
    margin-bottom: 25px;
    margin-top: 5px;
    font-size: 9px;
}


}
